# IDE files
.idea
.vscode

# Virtual environments
venv
.venv
env
.env

# Cache files
__pycache__
.ruff_cache
.mypy_cache

# Local files
guilds/
timeout_wars
merlin-latest
service_logs.txt
config/config.toml
*sql

# Ignore all logs
logs/*
*.log
