bckup*
config/config.toml
config/config_backup*.toml
__pycache__
.idea
venv
.venv
*.log
.vscode
merlin-latest
timeout_wars
service_logs.txt
emojis.zip
*sql
!database/backup/backup.sql
*.bak
.ruff_cache
.mypy_cache
