ci:
  autofix_prs: false

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.2
  hooks:
    - id: ruff
      name: ruff
      args: [--fix, --exit-non-zero-on-fix]
      description: This hook runs ruff linter.
    - id: ruff-format
      name: ruff-format
      description: This hook runs ruff formatter.

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    additional_dependencies: [types-requests, types-toml, types-python-dateutil]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    exclude: messages(_.*)?.py
    additional_dependencies:
      - tomli
