name: Lint

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
  workflow_call:

jobs:
  pre_commit_ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.1
      if: always()
